#tentang {
    height: 460px;
    display: inline;
}

.main-gambar {
    margin: rem 0 0.5rem;
}

.main-gambar img {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 80px);
    object-fit: cover;
    filter:brightness(0.7);
}

.tentang-main {
    margin: 3rem 0 0.5rem;
    margin-top: 50px;
    text-align: center; /* Pusatkan judul */
}

.tentang-main h1 {
    font-size: 40px;
    margin: 0;
}

.tentang-menu h2 {
    margin-left: 2%;
    padding: 0.4rem 1rem;
    text-align: center;
    background: rgb(204, 184, 119);
    width: 40%;
    border-radius: 0.4rem;
}

.grid-tentang {
    display : grid;
    grid-template-columns:repeat (3, 1fr);
    gap: 1rem;
    position : relative;
}

.tentang-1 img {
    width : 30%;
    border-radius: 0.2rem;
    margin-left: 2%;
}

.tentang-2 {
    margin-top: -10%;
    margin-left: 30%;
}
.tentang-2 img {
    width: 40%;
    border-radius: 0.2rem;
    margin-left:-15%;
}

.tentang-2 p {
    font-size: 150%;
    max-width: 50%;
    margin-top: -25%;
    margin-bottom: 30%;
    margin-left: 10%;
}

.tentang-3 p {
    margin-left : 50%;
    margin-top: -43%;
    font-size: 150%;
    max-width: 30%;
}

.tentang-4 p {
    margin-left : 60%;
    margin-top: -17%;
    font-size: 150%;
    max-width: 30%;
}

.grid-dokter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    gap : 3rem;
    position: relative;
    margin-left: 2%;
}

.dokter-1 {
    margin-top: 5%;
    margin-left: 30%
}

.dokter-1 img {
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan */
}

.dokter-1 h3 {
    font-size: 120%;
}

.dokter-1 p {
    font-size: 100%;
    margin-top: 1%;
}

.dokter-2 {
    margin-top: 5%;
    margin-left: 20%
}

.dokter-2 img {
    width: 70%;
    height: 85%;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan */
}

.dokter-2 h3 {
    font-size: 120%;
}

.dokter-2 p {
    font-size: 100%;
    margin-top: 1%;
}

.alamat {
    margin-top: 2%;
    margin-left: 2%;
}

.alamat p {
    font-size: 150%;
    max-width: 45%;
}